<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" >
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="/INDEX.HTML#showcase">Home</a></li>
                <!-- <li><a href="#about">About</a></li> -->
                <li><a href="INDEX.HTML#food">Category</a></li>
                <li><a href="/INDEX.HTML#food-menu">Menu</a></li>
                <li><a href="/INDEX.HTML#contact">Contact</a></li>
                <li><a href="#my-logout">Logout</a></li>
            </ul>
            <h1 class="logo">The Secret Recipes</h1>
        </div>
    </nav>
    <section class="cart-1">
        <div class="order-container">
            <div class="con-1">
                <img src="/IMG/cart-black.png" alt="" >
                <h1 class="OS">Order summary</h1>
            </div>
        
            
            <div class="pizza-list" style="margin-top:1rem">
                <div class="con-2">
                    <img class="img-1" src="/IMG/pizza/margheritapng.png">
                    <div class="con1">
                        <h1>Margherita</h1>
                        <span>Small</span>
                    </div>
                    <span class="con2">1 Pcs</span>
                    <span class="con3">₹250</span>
                </div>
            </div>
            <hr>
            <div class="con-3">
                <div>
                    <span class="con4">Total Amount:</span>
                    <span class="amount">₹250</span>
                <div>
                    <div>
                        <form>
                            <input type="tel" class="form-control" name="phone" placeholder="phone number">
                            <input type="text" class="form-control-1" name="address" placeholder="address">
                            <div>
                                <button class="btn btn-primary">
                                    Order Now
                                <button>
                            <div>
                        </form>
                    </div>
            <div>
        </div>


        <!-- <div class="emty-cart">
            <div class="container">
                <h1 class="header">Cart Empty</h1>
                <p class="paragraph">You probably haven't ordered yet. <br>
                To order a pizza, go to main page.</p>
                <img class="img" src="/IMG/empty-cart.png" alt="empty-cart"><br>
                <a class="btn" href="">Go back</a>
            </div>
        <div> -->
    </section>
</body>
</html>