<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    
    <title>Document</title>
    <link rel="stylesheet" href="/css/Menu.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container container">
            <input type="checkbox" >
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="/INDEX.HTML#showcase">Home</a></li>
                <!-- <li><a href="#about">About</a></li> -->
                <li><a href="INDEX.HTML#food">Category</a></li>
                <li><a href="/INDEX.HTML#food-menu">Menu</a></li>
                <li><a href="/INDEX.HTML#contact">Contact</a></li>
                <!-- <li><a href="#my-logout">Logout</a></li>/ -->
                <li><a href="/views/Cart.html"><img src="/IMG/home/cart-black.png"></a></li>        
                <!-- <li><a href="#my-order">My Order</a></li> -->
            </ul>
            <h1 class="logo">The Secret Recipes</h1>
        </div>
    </nav>


    <section class="showcase-area-1" id="showcase">
        <div class="showcase-container-1">
            
        </div>   
    </section>
    <section id="food-menu">
        <h1 class="food-menu-heading">
            Pizza
        </h1>
        <div class="food-menu-container container">
            <div class="food-menu-item" style="width:16rem">
                <div class="food-image">
                    <img class="img"  src="/IMG/pizza/margheritapng.png" alt="">
                
                <div class="food-description" style="text-align: center;">
                    <h2 class="food-type">Margherita</h2>
                    <span class="size">small</span>
                    <div class="rate">
                        <span>₹250</span>
                        <button class="add-to-cart">
                            <span>+</span>
                            <span style="margin-left: 1rem;">Add</span>
                        </button>
                    </div>
                </div>
                </div>
            </div>
            <div class="food-menu-item" style="width:16rem">
                <div class="food-image">
                    <img class="img" src="/IMG/pizza/Paneer_Makhni.jpg" alt="">
                
                <div class="food-description" style="text-align: center;">
                    <h2 class="food-type">Paneer Makhni</h2>
                    <span class="size">small</span>
                    <div class="rate">
                        <span>₹250</span>
                        <button class="add-to-cart">
                            <span>+</span>
                            <span style="margin-left: 1rem;">Add</span>
                        </button>
                    </div>
                </div>
                </div>
            </div>
            <div class="food-menu-item" style="width:16rem">
                <div class="food-image">
                    <img class="img" src="/IMG/pizza/Corn_&_Cheese.jpg" alt="">
                
                <div class="food-description" style="text-align: center;">
                    <h2 class="food-type">Corn & Cheese</h2>
                    <span class="size">small</span>
                    <div class="rate">
                        <span>₹250</span>
                        <button class="add-to-cart">
                            <span>+</span>
                            <span style="margin-left: 1rem;">Add</span>
                        </button>
                    </div>
                </div>
                </div>
            </div>
            <div class="food-menu-item" style="width:16rem">
                <div class="food-image">
                    <img class="img" src="/IMG/pizza/paneerChilli.jpg" alt="">
                
                <div class="food-description" style="text-align: center;">
                    <h2 class="food-type">Chilli Paneer</h2>
                    <span class="size">small</span>
                    <div class="rate">
                        <span>₹250</span>
                        <button class="add-to-cart">
                            <span>+</span>
                            <span style="margin-left: 1rem;">Add</span>
                        </button>
                    </div>
                </div>
                </div>
            </div>
            <div class="food-menu-item" style="width:16rem">
                <div class="food-image">
                    <img class="img" src="/IMG/pizza/mexican-green-wave-500x500.png" alt="">
                
                <div class="food-description" style="text-align: center;">
                    <h2 class="food-type">Maxican Green</h2>
                    <span class="size">small</span>
                    <div class="rate">
                        <span>₹250</span>
                        <button class="add-to-cart">
                            <span>+</span>
                            <span style="margin-left: 1rem;">Add</span>
                        </button>
                    </div>
                </div>
                </div>
            </div>
            <div class="food-menu-item" style="width:16rem">
                <div class="food-image">
                    <img class="img" src="/IMG/pizza/onionTopping.jpg " alt="">
                
                <div class="food-description" style="text-align: center;">
                    <h2 class="food-type">Onion topping</h2>
                    <span class="size">small</span>
                    <div class="rate">
                        <span>₹250</span>
                        <button class="add-to-cart">
                            <span>+</span>
                            <span style="margin-left: 1rem;">Add</span>
                        </button>
                    </div>
                </div>
                </div>
            </div>
            <div class="food-menu-item" style="width:16rem">
                <div class="food-image">
                    <img class="img" src="/IMG/pizza/Pepper_Barbeque.jpg " alt="">
                
                <div class="food-description" style="text-align: center;">
                    <h2 class="food-type">Pepper Barbeque</h2>
                    <span class="size">small</span>
                    <div class="rate">
                        <span>₹250</span>
                        <button class="add-to-cart">
                            <span>+</span>
                            <span style="margin-left: 1rem;">Add</span>
                        </button>
                    </div>
                </div>
                </div>
            </div>
            <div class="food-menu-item" style="width:16rem">
                <div class="food-image">
                    <img class="img" src="/IMG/pizza/vegi.jpg" alt="">
                
                <div class="food-description" style="text-align: center;">
                    <h2 class="food-type">Vegi</h2>
                    <span class="size">small</span>
                    <div class="rate">
                        <span>₹250</span>
                        <button class="add-to-cart">
                            <span>+</span>
                            <span style="margin-left: 1rem;">Add</span>
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>