<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <section class="login ">
        <div class="con ">
            <h1 class="login-title">Login</h1>
            <form action="/login" method="POST" class="container">
                <!-- <% if(messages.error) { %>
                <span class="text-red-500 text-sm"><%= messages.error %></span>
                <% } %> -->
                <div class="con-1">
                    <label class="la" for="username">
                        Email
                    </label>
                    <input name="email"
                        class="in"
                        id="username" type="email" placeholder="Enter your email">
                </div>
                <div class="con-2">
                    <label class="la-2" for="password">
                        Password
                    </label>
                    <input name="password"
                        class="in"
                        id="password" type="password" placeholder="******************">
                </div>
                <div class=" con-3">
                    <a href="/INDEX.HTML#showcase"><button
                        class="btn"
                        type="submit">
                        Log In
                    </button></a>
                    <a class="a" href="/register.html">
                        Don't have account?
                    </a>
                </div>
            </form>
            
        </div>
    </section>
</body>
</html>